body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/* a hover */
@keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* a hover */
@keyframes fade2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fade2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fade2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fade2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
